@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');


.App {
  padding-top: 3%;
  background-color: rgb(10, 25, 41);
  font-size: 16px;
  height: 100vh;
  font-family: 'Plus Jakarta San', sans-serif;
  color: white;
}

.container {
  height: 100%;
  max-width: 1024px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: rgb(14, 38, 65);
}

body {
  box-sizing: border-box;
}

.form {
  margin: 20px;
}

.task {
  display: flex;
  flex-direction: column;
}

@media (max-width: 940px) {
  .container {
    flex-direction: column;
  }
}