.App {
  box-sizing: border-box;
  padding-top: 3%;
  background-color: rgb(10, 25, 41);
  font-size: 14px;
  min-height: 100vh;
}

.container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  box-sizing: border-box;
}

.form {
  margin: 20px;
}

.task {
  display: flex;
  flex-direction: column;
}

